body {
    background: whitesmoke;
    font-family: Georgia, 'Times New Roman';
    font-size: larger;
    margin: 0;
}

/* -----------------------------------------Navigation bar */

header {
    margin-bottom: 10px;
    background-color: white;
    opacity: 0.9;
    position: fixed;
    width: 100%;
}

.container {
    background: whitesmoke;
    margin: 10px auto;
    width: 90%;
}

.logo {
    float: left;
    display: grid;
}


header::after {
    content: '';
    display: table;
    clear: both;
}

header .maintitle {
    float: left;
    color: #303030;
    font-weight: 800;
    font-size: 30px;
    text-decoration: none;
}

header .subtitle {
    padding: 0;
    margin: 0;
    color: #303030;
    font-weight: 500px;
    font-size: 16px;
    text-decoration: none;
    font-style: italic;
    font-family: cursive;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 80px;
    /* padding: 20px 0; */
    padding-top: 18px;
}

nav a {
    color: #303030;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}

nav a:hover {
    color: black;
}

/* navigation bar for small screen */
@media screen and (max-width: 600px) {
    .logo {
        float: center;
        display: grid;
        margin-top: 0;
    }

    nav {
        float: right;
    }

    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}


/*----------------------------------------------- Content */
img {
    padding-top: 0;
    margin-top: 0;
    width: 100%;
}

.right {
    width: 400%;
}

content {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    width: 80%;
    padding: 20px;
}

.main {
    width: 80%;
    margin: 0 auto;
    display: grid;
}

.title {
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    white-space: nowrap;
}

.post {
    border: 2px solid #e1e1e1;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);

    margin-right: 80px;
    margin-bottom: 30px;
    height: 200px;
    display: flex;
    overflow-y: hidden;
}

/* 
.post:hover {
    border: 2px solid #e1e1e1;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 1px 1px 0 whitesmoke;
} */

.date {
    font-size: medium;
    font-style: italic;
    text-decoration: none;
    color: #303030;
}

.post .intro {
    margin-bottom: 20px;
    height: 88px;
    overflow-y: hidden;
    width: 95%;
}

.tag a {
    text-decoration: none;
}


/* --------------------------sidebar */

.sidebar {
    margin-left: 20px;
    border-top: 5px solid #303030;
}

.tag a {
    background-color: #EADDCA;
    border-radius: 5px;
}